header {
  img {
    height: 50px;
  }
}
nav {
  background-color: rgba(0, 0, 0, 0.221);

  h1 {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #c1121f;
  }
}

.jumbo {
  height: 600px;
  h1 {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
  }
}
.bg-img-jumbo {
  background-image: url("./assets/netflix.jpeg");
  background-size: cover;
  background-position: 50% 45%;
}

main {
  min-height: 1200px;
  background-color: black;
}
.hidden {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: all 0.8s;
  background-color: rgba(0, 0, 0, 0.481);
  height: 100%;
}

footer {
  height: 100px;
  background-color: rgb(27, 27, 27);
}
